
.element{
    padding: 30px;
    padding-bottom: 70px;
}

.logo{
    width: 220px;
}


@media all and (max-width: 900px){
    .element{
        background-repeat: no-repeat;
        flex-wrap: wrap;
    }
    .element > li {
        flex: 1 1 50%;
    }
}

@media all and (max-width: 480px){
    .element{
        background-repeat: no-repeat;

    }
    .element > li {
        flex: 1 1 50%;
        background-repeat: no-repeat;

    }
}