
.element{
    padding: 30px;
}

.logo{
    width: 220px;
}


@media all and (max-width: 670px){
    .element{
        flex-wrap: wrap;

    }
    .element > li {
        flex: 1 1 50%;
        padding: 0px
    }
}

@media all and (max-width: 480px){

    .element > li {
        flex: 1 1 100%;
        padding:3px;
    }
}