.IconIcons {
    height: 20vh;
    width: 20vh;
    border: 3px solid #f6db90;
    margin: 30px;
    border-radius: 50%;
    
}

h1{
    color: white;
    text-align: center;
    padding-top: 40px;
}



@media all and (max-width: 900px){
    .iconContainer{
        /* display: flex; */
        justify-content: wrap;
        padding: 0;
    }
    .IconIcons {
        margin: 30px;
        height: 13vh;
        width: 13vh;
        margin: 0px;        
    }
    
}
